name: CI - DINIJIT SANGMA

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Created by DINIJIT SANGMA
        run: echo "This CI workflow is created by DINIJIT SANGMA (DL’E-ESPORTS)"

      - name: Run a one-line script
        run: echo "Hello, world!"

      - name: Run a multi-line script
        run: |
          echo "Project: DL’E-ESPORTS"
          echo "Owner: DINIJIT SANGMA"
          echo "Build, test, and deploy workflow running successfully"
